/* Se define la fuente del texto para todo el documento (cabecera y tarjetas) */
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Se definen los estilos en la cabecera (título y menú) */
  .cabecera {
    background-color: rgb(33, 32, 32);
    color: rgb(240, 255, 255);
    width: 100%;
    text-align: center;
    padding: 0px 0px 10px 0px;
    position: fixed;
  }
  
  /* Estilo para el título */
  .titulo {
    padding: 20px 0px 20px 0px;
    font-size: large;
    font-weight: bold;
  }
  
  /* Estilo para el texto y contorno del menú */
  .menu {
    display: inline-block;
    border: 2px solid rgb(240, 255, 255);
    padding: 15px 15px 15px 15px;
    font-size: x-small;
  }
  
  /* Giving styles to a specific <a> tag (the menu text) */
  a#boton {
    text-decoration: none;
    color: rgb(240, 255, 255);
    padding: 0%;
  }
  
  /* Estilo para todo el gran bloque que contiene las tarjetas de películas */
  .cuerpo {
    background-color: rgb(230, 230, 230);
    padding: 120px 0px 1px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    flex-wrap: wrap;
  }
  
  /* Estilo creado para centrar etiquetas (imágenes) con clase "center" dentro de la tarjeta */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Se le da estilo a la tarjeta de la película */
  .tarjeta {
    background-color: rgb(255, 255, 255);
    width: 250px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    display: flex;
    /* Para que el texto dentro de la tarjeta no aparezca al lado de la imagen, sino en columna */
    flex-direction: column;
    border: 2px solid rgb(207, 207, 207);
  }
  
  /* Asignando una dimensión fija a las <img> para pantalla móvil */
  .tarjeta img {
    width: 230px;
    height: 350px;
  }
  
  /* Padding y peso del texto dentro de cada tarjeta */
  .texto {
    padding: 10px 0px 10px 10px;
    font-weight: bold;
  }
  
  /* Adicionalmente se le da un tamaño más grande al <h3> (título de la película) */
  h3 {
    font-size: larger;
  }
  
  /* Se le asigna padding superior e izquierdo a etiqueta <a>  */
  a {
    padding: 10px 0px 0px 10px;
  }
  
  /* Aplicación de consulta de medios para cambiar tamaño de <img> y texto cuando el ancho de pantalla es mayor */
  @media only screen and (min-width: 500px) {
    .titulo {
      font-size: xx-large;
    }
  
    .tarjeta {
      width: 500px;
      margin: 25px 0px 25px 0px;
    }
  
    .tarjeta img {
      width: 450px;
      height: 600px;
    }
  
    .texto {
      font-family: Arial, Helvetica, sans-serif;
      padding: 15px 0px 10px 25px;
      font-weight: bold;
    }
  
    a {
      padding: 15px 0px 0px 25px;
    }
  
    h3 {
      font-size: x-large;
    }
  }
  