/* The text font is defined for the entire document (header and cards) */
/* Se define la fuente del texto para todo el documento (cabecera y tarjetas) */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles are defined in the header (title and menu) */
/* Se definen los estilos en la cabecera (título y menú) */
.cabecera {
  background-color: rgb(95, 204, 231);
  color: rgb(240, 255, 255);
  width: 100%;
  text-align: center;
  position: fixed;
}

/* Style for the title */
/* Estilo para el título */
.titulo {
  padding: 40px 0px 40px 0px;
  font-size: large;
  font-weight: bold;
}

/* Style for the entire large block containing the article cards */
/* Estilo para todo el gran bloque que contiene las tarjetas de artículos */
.cuerpo {
  background-color: rgb(230, 230, 230);
  padding: 120px 0px 1px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  flex-wrap: wrap;
}

/* Style created to center labels (images) with class "center" inside the card */
/* Estilo creado para centrar etiquetas (imágenes) con clase "center" dentro de la tarjeta */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Giving style to .text class so the article preview remains unreadeable */
/* Dando estilo a la clase .text para que la vista previa del artículo se mantenga ilegible */
.text {
  color: #ffffff;
}

/* Style the article card */
/* Se le da estilo a la tarjeta del artículo */
.tarjeta {
  background-color: #ffffff;
  width: 250px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 50px 0px;
  display: flex;
  /* So that the text inside the card does not appear next to the image, but in a column */
  /* Para que el texto dentro de la tarjeta no aparezca al lado de la imagen, sino en columna */
  flex-direction: column;
  border: 2px solid #cfcfcf;
  transition: transform 0.5s ease-in-out;

  /* Making the background, mouse pointer, title color, article card to change and article text preview to show up on hover */
  /* Haciendo que cambien el fondo, el puntero del ratón, el color del título, la tarjeta y que se muestre el texto previo del artículo en hover */
  &:hover {
    background-color: #fbf9f9;
    cursor: pointer;
    transform: translateY(-15px);

    h3 {
      color: #fc6d0d;
    }

    .text {
        color: #b2b0b0;;
    }
  }
}

/* Assigning a fixed dimension to <img> for mobile screen */
/* Asignando una dimensión fija a las <img> para pantalla móvil */
.tarjeta img {
  width: 230px;
  height: 350px;
}

/* Additionally, the <h3> (film title) is given a larger size */
/* Adicionalmente se le da un tamaño más grande al <h3> (título de la película) */
h3 {
  font-weight: bold;
  font-size: large;
  padding: 20px 0px 10px 20px;
}

/* Style is assigned to the <p> tag */
/* Se le asigna estilo a etiqueta <p> */
p {
  font-size: smaller;
  padding: 10px 0px 0px 8%;
}

/* Media query application to resize <img> and text when screen width is larger */
/* Aplicación de consulta de medios para cambiar tamaño de <img> y texto cuando el ancho de pantalla es mayor */
@media only screen and (min-width: 500px) {
  .titulo {
    font-size: xx-large;
  }

  .tarjeta {
    width: 370px;
    margin: 25px 0px 25px 0px;
    padding: 10px 0px 70px 0px;
  }

  .tarjeta img {
    width: 350px;
    height: 500px;
  }

  h3 {
    padding: 10px 0px 10px 25px;
  }

  p {
    padding: 10px 0px 0px 7%;
  }
}
